@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 204px;
    height: 306px;
    border: 1px solid black;
    margin: 28px auto;
    padding: 4px;
}

input {
    width: 100%;
    padding-top: 37px;
    font-size: 18px;
    text-align: right;
    padding-right: 4px;
    border: 3px solid black;
    border-radius: 4px;
}

.keys {
    width: 100%;
    height: 212px;
    border: 1px solid black;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
}

.key {
    width: 46px;
    height: 40px;
    /* border: 1px solid rgb(83, 83, 83); */
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.key-btn {
    width: 100%;
    height: 100%;
    font-size: 15px;
}

.red {
    background-color: red;
    color: white;
    font-weight: 600;
}

.operator {
    background-color: #1e272e;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.equal {
    background-color: #05c46b;
    color: white;
    font-size: 16px;
    font-weight: 600;
}